<section id="portfolio" class="portfolio">
    <div class="box">
        <h2 class="section-title pull-left">From My Portfolio</h2>
        <div id="filters-container" class="cbp-l-filters-alignRight pull-right">
            <div data-filter="*" class="cbp-filter-item-custom-active cbp-filter-item-custom btn">All</div>
          {{#each categories}}
              <div data-filter=".{{this}}" class="cbp-filter-item-custom btn">{{this}}</div>
          {{/each}}

            <!--<div data-filter=".architecture" class="cbp-filter-item-custom btn">Architecture</div>-->
            <!--<div data-filter=".macro" class="cbp-filter-item-custom btn">Macro</div>-->
            <!--<div data-filter=".VBA" class="cbp-filter-item-custom btn">VBA</div>-->
            <!--<div data-filter=".still-life" class="cbp-filter-item-custom btn">Still Life</div>-->
        </div>
        <!-- /#filters-container -->
        <div class="clearfix"></div>

        <div id="grid-container" class="cbp-l-grid-masonry">
            <ul>
              {{#each portfolio}}

                  <li class="cbp-item frame {{this.category}}"><a class="cbp-caption cbp-singlePage"
                                                                  href="/ajax/{{this.postName}}.html">
                      <div class="cbp-caption-defaultWrap"><img src="/style/images/art/pa1.jpg" alt=""></div>
                      <div class="cbp-caption-activeWrap">
                          <div class="cbp-l-caption-alignCenter">
                              <div class="cbp-l-caption-body">
                                  <div class="cbp-l-caption-title">{{this.Name}}</div>
                              </div>
                          </div>
                      </div>
                  </a>
                  </li>

              {{/each}}
            </ul>


            <!--<ul>-->
            <!--<li class="cbp-item frame architecture"><a class="cbp-caption cbp-singlePage" href="/ajax/post1.html">-->
            <!--<div class="cbp-caption-defaultWrap"><img src="/style/images/art/pa1.jpg" alt=""></div>-->
            <!--<div class="cbp-caption-activeWrap">-->
            <!--<div class="cbp-l-caption-alignCenter">-->
            <!--<div class="cbp-l-caption-body">-->
            <!--<div class="cbp-l-caption-title">Thumbnail Slider</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="cbp-item frame macro"><a class="cbp-caption cbp-singlePage" href="ajax/post2.html">-->
            <!--<div class="cbp-caption-defaultWrap"><img src="/style/images/art/pm1.jpg" alt=""></div>-->
            <!--<div class="cbp-caption-activeWrap">-->
            <!--<div class="cbp-l-caption-alignCenter">-->
            <!--<div class="cbp-l-caption-body">-->
            <!--<div class="cbp-l-caption-title">Fullscreen Gallery</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="cbp-item frame VBA"><a class="cbp-caption cbp-singlePage" href="/ajax/post3.html">-->
            <!--<div class="cbp-caption-defaultWrap"><img src="/style/images/art/pp1.jpg" alt=""></div>-->
            <!--<div class="cbp-caption-activeWrap">-->
            <!--<div class="cbp-l-caption-alignCenter">-->
            <!--<div class="cbp-l-caption-body">-->
            <!--<div class="cbp-l-caption-title">Multiple Images</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="cbp-item frame still-life"><a class="cbp-caption cbp-singlePage" href="/ajax/post4.html">-->
            <!--<div class="cbp-caption-defaultWrap"><img src="/style/images/art/ps1.jpg" alt=""></div>-->
            <!--<div class="cbp-caption-activeWrap">-->
            <!--<div class="cbp-l-caption-alignCenter">-->
            <!--<div class="cbp-l-caption-body">-->
            <!--<div class="cbp-l-caption-title">Fullwidth Video</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="cbp-item frame architecture"><a class="cbp-caption cbp-singlePage" href="/ajax/post1.html">-->
            <!--<div class="cbp-caption-defaultWrap"><img src="/style/images/art/pa2.jpg" alt=""></div>-->
            <!--<div class="cbp-caption-activeWrap">-->
            <!--<div class="cbp-l-caption-alignCenter">-->
            <!--<div class="cbp-l-caption-body">-->
            <!--<div class="cbp-l-caption-title">Thumbnail Slider</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="cbp-item frame macro"><a class="cbp-caption cbp-singlePage" href="/ajax/post2.html">-->
            <!--<div class="cbp-caption-defaultWrap"><img src="/style/images/art/pm2.jpg" alt=""></div>-->
            <!--<div class="cbp-caption-activeWrap">-->
            <!--<div class="cbp-l-caption-alignCenter">-->
            <!--<div class="cbp-l-caption-body">-->
            <!--<div class="cbp-l-caption-title">Fullscreen Gallery</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="cbp-item frame VBA"><a class="cbp-caption cbp-singlePage" href="/ajax/post3.html">-->
            <!--<div class="cbp-caption-defaultWrap"><img src="/style/images/art/pp2.jpg" alt=""></div>-->
            <!--<div class="cbp-caption-activeWrap">-->
            <!--<div class="cbp-l-caption-alignCenter">-->
            <!--<div class="cbp-l-caption-body">-->
            <!--<div class="cbp-l-caption-title">Multiple Images</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="cbp-item frame still-life"><a class="cbp-caption cbp-singlePage" href="/ajax/post4.html">-->
            <!--<div class="cbp-caption-defaultWrap"><img src="/style/images/art/ps2.jpg" alt=""></div>-->
            <!--<div class="cbp-caption-activeWrap">-->
            <!--<div class="cbp-l-caption-alignCenter">-->
            <!--<div class="cbp-l-caption-body">-->
            <!--<div class="cbp-l-caption-title">Fullwidth Video</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a></li>-->
            <!--</ul>-->
        </div>
        <!-- /.cbp-l-grid-masonry -->
        <!--<div class="cbp-l-loadMore-button"><a href="/ajax/port1-more.html" class="cbp-l-loadMore-button-link btn">LOAD-->
        <!--MORE</a></div>-->
    </div>
    <!-- /.box -->
</section>
<!-- /#portfolio -->
