<!-- ==================================
      ///// Begin portfolio /////
      =================================== -->
<section id="portfolio" class="portfolio-section no-padding-bottom padding-top-100">
    <div class="container">
        <div class="row wow fadeIn">
            <!-- Left column -->
            <div class="col-md-6">
                <!-- Begin heading
                              ===================
                              -->
                <div class="heading heading-md heading-uppercase heading-hover">
                    <span class="heading-title-ghost">Portfolio</span>
                    <h2 class="heading-title">Portfolio</h2>
                    <!-- Begin divider
                                    ===================
                                    -->
                    <hr class="hr-width-1 hr-5x border-main">
                    <!-- End divider -->
                </div>
                <!-- End heading -->
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->


    <div class="container no-padding">
        <!-- Begin isotope
                  ===================
                  -->
        <div class=" gutter-1 isotope popup-gallery col-4">
            <!-- Begin isotope filter
                        =========================== -->
            <div class="isotope-filter wow fadeIn" data-wow-delay="0.8s">
                <!-- Begin isotope filter toggle button -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed filter-toggle-btn no-radius text-uppercase"
                            data-toggle="collapse" data-target="#isotope-filter-collapse">
                        <span class="text-center">Filter <i class="fa fa-chevron-down"></i></span>
                    </button>
                </div>
                <!-- End isotope filter toggle button -->

                <!-- Begin isotope filter links
                              ==================================
                              -->
                <div class="isotope-filter-links collapse navbar-collapse max-width-1170 margin-auto text-uppercase"
                     id="isotope-filter-collapse">
                  {{#each categories}}
                      <a class="no-radius" href="#" data-filter=".{{this.filter}}">{{this.name}}</a>
                  {{/each}}

                </div>
                <!-- End isotope filter links -->

            </div>
            <!-- End isotope filter -->


            <!-- Begin isotope items
                        ==========================
                        -->
            <div class="isotope-items-wrap wow fadeIn" data-wow-delay="0.4s">
                <!-- Grid sizer (do not remove!!!) -->
                <div class="grid-sizer"></div>

              {{#each portfolio}}
                  <!-- Single portfolio item -->
                  <div class="isotope-item {{this.filter}}">
                      <!-- Begin portfolio item -->
                      <div class="portfolio-item-wrap">
                          <div class="portfolio-item">
                              <a class="item-link inline-popup-trigger" href="#{{this.name}}">
                                  <span class="cover bg-transparent-9-main"></span>
                                  <img class="item-img" src="/style/project-images/{{this.image}}" alt="image">
                                  <div class="item-info text-white">
                                      <h3 class="item-info-title">{{this.name}}</h3>
                                      <p>{{this.description}}</p>
                                  </div>
                              </a>
                          </div>

                          <!-- Begin inline popup content -->
                          <div id="{{this.name}}" class="inline-popup mfp-hide">
                              <div class="inline-popup-inner">


                                  <div class="row margin-top-40">
                                      <div class="col-md-8 margin-bottom-20">
                                          <h2 class="no-margin-top">{{this.name}}</h2>
                                          <p>{{this.description}}</p>
                                      </div>
                                      <div class="col-md-4 margin-bottom-20 padding-left-40">
                                          <!--<div class="inline-popup-image bg-image"-->
                                               <!--style="background-image: url(/style/project-images/{{this.image}}); background-position: 50% 50%;"></div>-->
                                          <img class="item-img" src="/style/project-images/{{this.image}}" alt="image">
                                          <ul class="list-unstyled">
                                              <li>GitHub Repo: <strong><a href="#" target="_blank">Mio INC</a></strong></li>
                                              <li>Live Website: <strong><a href="#" target="_blank">26 Nov, 2016</a></strong>
                                              </li>
                                              <li>Tech Used <strong><a href="#" target="_blank">One</a></strong></li>
                                          </ul>
                                          <!--<a href="#" target="_blank" class="btn btn-primary btn-lg margin-top-20">Launch-->
                                              <!--Project</a>-->
                                      </div>
                                  </div> <!-- /.row -->
                              </div> <!-- /.inline-popup-inner -->
                              <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>
                          </div>
                          <!-- End inline popup content -->

                      </div>
                      <!-- End portfolio item -->
                  </div>
                  <!-- End isotope item --><!-- Single portfolio item End-->
              {{/each}}
            </div>
            <!-- End isotope items wrap -->
        </div>
        <!-- End isotope -->
    </div>
    <!-- /.container -->
</section>
<!-- End Portfolio -->
